<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Path</h1>
        <form method="post">
            <input type="text" name="path" placeholder="Путь к директории">
            <button type="submit">Просмотреть</button>
        </form>
    </div>
    <div class="container">
      <h1>Directory contents</h1>
      <ul class="file-list">
        {% if items %}
            {% for item in items.split('\n') %}
                <li>{{ item }}</li>
            {% endfor %}
        {% endif %}
      </ul>
    </div>
</body>
</html>
